/**
 * @name GGO Kirito
 * @author VaporousCreeper
 * @version 1.2.X
 * @description A theme with Kirito and Deathgun fighting in GGO (Gun Gale Online)
 * @source https://github.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/tree/master/Themes/GGO_Kirito
 */


@import url('https://raw.githack.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/GGO_Kirito/core.css');

:root{
    /* transparency made to work with gradients */
/* Background Image */
#app-mount {
	background: var(--background-image);
}

/* removing backgrounds */
.container-2lgZY8, .channels-Ie2l6A, .da-app .layer-3QrUeG, .da-app .layers-3iHuyZ, .da-app .chat-3bRxxu, .da-app .channelTextArea-rNsIhG, .da-app .content-yTz4x3, .da-app .messagesWrapper-3lZDfY, .da-app .chat-3bRxxu form, .da-app .members-1998pB, .da-app .headerBar-UHpsPw, .da-app .standardSidebarView-3F1I7i, .da-app .typing-2GQL18 {
	background: transparent;
}

/* Guild and Top bar transparency */
.guilds-1SWlCJ {
	background:transparent;
	background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
.container-3w7J-x, .privateChannels-1nO12o, .sidebarRegion-VFTUkN {
	background: transparent;
	background-image: var(--transparency-2);
}
/* chat and top area and other secondary pages */
 .da-app #friends, .contentRegion-3nDuYy, .chat-3bRxxu, .theme-dark .container-1D34oG {
	background: transparent;
	background-image: var(--transparency-3);
}
/* removing color from specific class */
.panels-j1Uci_ {
	background-color: transparent;
}
/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .da-app .chat-3bRxxu {
	background-color: transparent;
	background-image: var(--transparency-3);
}

.typeWindows-1za-n7 {
	background-image: var(--transparency-5);
}

/* removes margin from top area and adds it to the nav buttons + discord logo */
.typeWindows-1za-n7 {
	height: 21px;
    margin-top: 0px;
}
.flexCenter-3_1bcw {
    margin-top: 3px;
}
/* removes a border under better discord at channels */
.unread-1xRYoj {
	display:none;
}
/* removes a margin bottom */
.container-3baos1 {
	margin-bottom: 0px;
}
.base-3dtUhz {
    border-radius:0px;
}

/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
    }
    --background: url('https://images.alphacoders.com/632/632525.png');
    --activetext-colour: white;

    --primary1-colour: red;
    --primary2-colour: rgba(255,0,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
  
/*
Theme Owned and Made by VaporousCreeper#9514
  
Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

The 2 items above are not owned by me, They go to there respected owners 
*/
